.env
.DS_Store
TODO.md

# Java / Gradle
backend/.gradle/
backend/build/
backend/out/

# Node
admin-frontend/node_modules/
admin-frontend/dist/
user-frontend/node_modules/
user-frontend/dist/

# IDE
.idea/
*.iml
.vscode/

